li{
    float: right;
    width: 100px;
}
a{
    text-decoration:none;
    color: #fff;
    text
}
.navigationBar{
    background-color: #323334;
    height: 60px;
    position: absolute;
    top:0px;
    right: 0px;
    left:0px;
}
.bottomfoot{
    background-color: #323334;
    height: 50px;
    position: absolute;
    left: 0px;
    right: 0px;
    top:2260px;
    text-align: center;
    line-height: 50px;
    color: #fff;

}
.logo{
    height: 40px;
    padding-top: 7px;
    padding-left: 5px;
    float: left;
}
a:hover{
    color: #8a8f97;
}
li:hover{
    color: #8a8f97;
}
.rightShow{
    top: 20px;
    right: 20px;
    position: absolute;
    height: 500px;
    width: 360px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #545454;


}
.leftShow1{
    position: absolute;
    top: 20px;
    right: 400px;
    left: 10px;
    height: 700px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #545454;
}
.leftShow2{
    position: absolute;
    top:740px;
    right: 400px;
    left:10px;
    height:600px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #545454;

}
.leftShow2{
    position: absolute;
    top:740px;
    right: 400px;
    left:10px;
    height:600px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #545454;

}
.leftShow3{
    position: absolute;
    top:1360px;
    right: 400px;
    left:10px;
    height:300px;
    background-color: #faf;
    box-shadow: 3px 3px 3px #545454;

}
.leftShow4{
    position: absolute;
    top:1680px;
    right: 400px;
    left:10px;
    height:500px;
    background-color: #faf;
    box-shadow: 3px 3px 3px #545454;
}
.backGround{
    position: absolute;
    top:60px;
    right: 0px;
    left: 0px;
    height: 2200px;
    background-color: #dedede;
}
.col-sm-2 .col-sm-10{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control {
    position: relative;
    margin-left: 10px;
  display:block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group {
  margin-bottom: 15px;
  display: inline-block;
}
